@font-face {
  font-family: "iconfont"; /* Project id 3229309 */
  src: url('iconfont.woff2?t=1652879536923') format('woff2'),
       url('iconfont.woff?t=1652879536923') format('woff'),
       url('iconfont.ttf?t=1652879536923') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spin:before {
  content: "\e851";
}

.icon-Aa:before {
  content: "\e636";
}

.icon-fangdajing:before {
  content: "\e653";
}

.icon-bi:before {
  content: "\e7c5";
}

